<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>GULP-TEST</title>
    <%- include header.ejs %>
</head>
<body>
<%- include navigation.ejs%>
<h1>你好，世界！</h1>
<div id="container"></div>
<%- include footer.ejs %>
</body>
</html>